h3= soundtrack.name
h5 Added By: #{soundtrack._user.username}
p Description: #{soundtrack.description}
p Tags: #{soundtrack.tags}
p Rating: #{soundtrack.rank}
a(href=soundtrack.link)#{soundtrack.name}